[submodule "src/github.com/yuin/gopher-lua"]
	path = src/github.com/yuin/gopher-lua
	url = http://github.com/yuin/gopher-lua
[submodule "src/github.com/robfig/cron"]
	path = src/github.com/robfig/cron
	url = http://github.com/robfig/cron
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
